.post-container {
  background-color: #121212;
  font-family: Arial, sans-serif;
  border-bottom: #00ffea solid 1px;
  width: 44.5vw;
  margin-left: 383px;
}

.user-data {
  display: flex;
}

p {
  margin-top: 20px;
  margin-left: 15px;
}

img {
  margin-top: 15px;
  margin-left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.name {
  font-weight: bold;
  color: #ff9966;
}

.unique-name, .date {
  color: #00ffea;
  font-size: 0.9em;
  margin-left: 10px;
}

.post-text {
  color: #eee;
  line-height: 1.5;
  margin-top: -10px;
  display: inline-block;
}

i {
  margin-left: 155px;
  color: #00ffea;
}

.post-container:hover {
  cursor: pointer;
}

.retweeted {
  color: #8e24aa;
  background-color: rgba(142, 36, 170, 0.1);
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.liked {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease, color 0.3s ease;
}
