
@for (comment of getMainComments(); track comment.id) {
  <div class="comment">
    <div class="user-data">
      <img src="facebook-icon.jpg" alt="image not loaded">
      <p class="name">{{comment.userDetails.firstName}} {{comment.userDetails.lastName}}</p>
      <p class="unique-name">&#64;{{comment.userDetails.username}}</p>
      <p class="date">{{comment.createdAt}}</p>
    </div>

    <div class="comment-text">
      <p>{{ comment.content }}</p>
      <div class="interactions">
        <i class="fa fa-comment"></i>
      </div>
      <form (ngSubmit)="sendComment(comment)">
        <input type="text" [(ngModel)]="replyInput" name="content">
        <button type="submit">Publish</button>
      </form>
    </div>

    <div class="replies">
      @for (reply of comments; track reply.id) {
        @if (comment.id == reply.parentCommentId) {
          <div class="reply">


            <details>
              <summary>See more</summary>
              <p class="name">{{reply.userDetails.firstName}} {{reply.userDetails.lastName}}</p>
              <p class="unique-name">&#64;{{reply.userDetails.username}}</p>
              <p class="date">20.04.2024</p>
              <p>{{ reply.content }}</p>
              <form (ngSubmit)="sendComment(reply)">
                <input type="text" [(ngModel)]="replyInput" name="content">
                <button type="submit">Publish</button>
              </form>
            </details>

            @for (subReply of comments; track subReply.id) {
              @if (subReply.parentCommentId == reply.id) {
                <div class="sub-reply">
                  <details>
                    <summary>See more</summary>
                    <p class="name">{{subReply.userDetails.firstName}} {{subReply.userDetails.lastName}}</p>
                    <p class="unique-name">&#64;{{subReply.userDetails.username}}</p>
                    <p class="date">20.04.2024</p>
                    <p>{{ subReply.content }}</p>
                    <form (ngSubmit)="sendComment(subReply)">
                      <input type="text" [(ngModel)]="subReplyInput" name="content">
                      <button type="submit">Publish</button>
                    </form>

                  </details>

                  @for (nestedReply of comments; track nestedReply.id) {
                    @if (nestedReply.parentCommentId == subReply.id) {
                      <div class="nested-reply">
                        <details>
                          <summary>See more</summary>
                          <p class="name">{{nestedReply.userDetails.firstName}} {{nestedReply.userDetails.lastName}}</p>
                          <p class="unique-name">&#64;{{nestedReply.userDetails.username}}</p>
                          <p class="date">20.04.2024</p>
                          <p>{{ nestedReply.content }}</p>
                          <form (ngSubmit)="sendComment(nestedReply)">
                            <input type="text" [(ngModel)]="nestedReplyInput" name="content">
                            <button type="submit">Publish</button>
                          </form>
                        </details>
                      </div>
                    }
                  }
                </div>
              }
            }
          </div>
        }
      }
    </div>
  </div>
}
