<div class="post-list-container">
  <form class="publish-post-form" (ngSubmit)="publishPost()">
    <textarea [(ngModel)]="text" name="text" placeholder="What's on your mind ?"></textarea>
    <button type="submit" [disabled]="!text?.trim() || isPosting()">
      {{ isPosting() ? 'Publishing...' : 'Publish Post' }}
    </button>
  </form>


  @if (isLoading()) {
    <div class="loading-message">
      ⏳ Loading posts...
    </div>
  }
  @else if (serverError()) {
    <div class="error-message">
      <span class="error-message-icon">⚠️</span>
      {{ serverError() }}
      <button (click)="reloadPosts()">Try Again ...</button>
    </div>
  }
  @else {
    @for (post of fetchedPosts(); track post.id) {
      <app-post [post]="post"></app-post>
    }
  }
</div>
