<div (click)="goToPostDetail(post.id)" class="post-container">
  <div class="user-data">
    <img src="facebook-icon.jpg" alt="image not loaded">
    <p class="name">{{ post.user.firstName + ' ' + post.user.lastName }}</p>
    <p class="unique-name">&#64;{{ post.user.username }}</p>
    <p class="date">{{ post.createdAt | date: 'yyyy-MM-dd' }}</p>
  </div>

  <div class="post-text">
    {{ post.content }}

    <div class="interactions">
      <i class="fa fa-comment">0</i>

      @if (post.retweetedByMe) {
        <i class="fa fa-retweet retweeted" (click)="undoRetweet($event)"></i>
        <span>{{ post.retweetCount }}</span>
      } @else {
        <i class="fa fa-retweet" (click)="retweet($event)"></i>
        <span>{{ post.retweetCount }}</span>
      }

      @if (post.likedByMe) {
        <i class="fa fa-heart liked" (click)="unlikeThePost($event)"></i>
        <span>{{ post.likeCount }}</span>
      } @else {
        <i class="fa fa-heart" (click)="likeThePost($event)"></i>
        <span>{{ post.likeCount }}</span>
      }

    </div>
  </div>
</div>
