.post-container {
  background-color: #121212;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #00ffea;
  width: 90%;
  max-width: 600px;
  margin-left: 385px;
  margin-top: 10px;
  padding: 1rem;
  border-radius: 3rem;
  transition: background-color 0.3s;
}

.post-container:hover {
  background-color: #1e1e1e;
  cursor: pointer;
}

.user-data {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.name {
  font-weight: bold;
  color: #ff9966;
  margin-right: 10px;
}

.unique-name,
.date {
  color: #00ffea;
  font-size: 0.9em;
  margin-right: 10px;
}

.post-text {
  color: #eee;
  line-height: 1.6;
  margin-top: 10px;
  font-size: 1.05em;
}

.interactions {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #00ffea;
  cursor: pointer;
  transition: transform 0.2s, color 0.3s;

}
.interactions i:hover {
  transform: scale(1.2);
}



.retweeted {
  color: #8e24aa;
  background-color: rgba(142, 36, 170, 0.1);
  padding: 5px;
  border-radius: 50%;
}

.liked {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  border-radius: 50%;
}


