<div class="left-sidebar">
  <ul class="nav-links">
    <li><img src="favicon.ico" alt="img not loaded"></li>

    <li>
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="/home/profile" routerLinkActive="active">
        <i class="fas fa-user"></i> Profile
      </a>
    </li>
    <li>
      <a routerLink="/home/friends" routerLinkActive="active">
        <i class="fas fa-users"></i> Friends
      </a>
    </li>
    <li>
      <a routerLink="/home/messages" routerLinkActive="active">
        <i class="fas fa-envelope"></i> Messages
      </a>
    </li>
    <li>
      <a routerLink="/home/settings" routerLinkActive="active">
        <i class="fas fa-cog"></i> Settings
      </a>
    </li>
    <li>
      <button (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </li>
  </ul>

  <div class="username-section">
    <img src="facebook-icon.jpg" alt="Avatar">
    <span>{{ myUsername }}</span>
  </div>
</div>
