.post-container {
  background-color: #121212;
  font-family: Arial, sans-serif;
  border-bottom: #00ffea solid 1px;
  width: 44.5vw;
  margin-left: 383px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 60px;
}

.user-data {
  display: flex;
  align-items: center;
}

.user-data img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
}

.name {
  font-weight: bold;
  color: #ff9966;
  margin-top: 20px;
  margin-left: 15px;
}

.unique-name,
.date {
  color: #00ffea;
  font-size: 0.9em;
  margin-left: 10px;
  margin-top: 20px;
}

.post-text {
  color: #eee;
  line-height: 1.5;
  margin-top: -10px;
  display: inline-block;
}

.interactions i {
  margin-left: 155px;
  color: #00ffea;
}

.post-container:hover {
  cursor: pointer;
}

.retweeted {
  color: #8e24aa;
  background-color: rgba(142, 36, 170, 0.1);
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.liked {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.publish-comment {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.publish-comment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

textarea {
  flex: 1;
  padding: 10px;
  background-color: #1e1e1e;
  border: 1px solid #00ffea;
  border-radius: 10px;
  color: #fff;
  margin-right: 10px;
  resize: none;
}

button {
  padding: 10px 20px;
  background-color: #00ffea;
  color: #121212;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #00cccc;
}

.error-container {
  background-color: #2a2a2a;
  color: #ff6666;
  padding: 10px;
  border: 1px solid #ff6666;
  border-radius: 10px;
  margin-top: 60px;
  width: 44.5vw;
  margin-left: 383px;
  font-family: Arial, sans-serif;
}
